html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  will-change: transform;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  margin-bottom: 20px;
}

#container {
  width: 1500px;
  height: 1500px;
  position: absolute;
  right: -500px;
  background-color: #fc4889;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 50px;
  position: absolute;
}

#container > .link:nth-child(1) {
  transform: translateX(-500px);
}

#container > .link:nth-child(2) {
  transform: translateX(-500px);
}

#container > .link:nth-child(3) {
  transform: translateX(-250px) translateY(-500px) rotate(72deg);
}

#container > .link:nth-child(4) {
  transform: translateX(500px) translateY(-500px) rotate(144deg);
}

#container > .link:nth-child(5) {
  transform: translateX(500px) translateY(500px) rotate(216deg);
}
